.container{
    background-color:#39762F;
    color:white;
}
#name{
    font-weight:900;
    font-size: 50px;
}
.pizzquo{
    display:flex;
    justify-content: space-between;
}
#hpizz{
    height:600px;
    width:700px;
}
#pizztext{
    margin-top: 250px;
    margin-right:80px;
    margin-left:80px;
    font-weight: 800;
}
#menu{
    font-size:50px;
    font-weight:500;
    text-align:center;
    background-color:#39762F;
    color:white;
}
#pizzas{
    height:300px;
    padding: 10px;
    border-radius: 40px;
}
h5{
    text-align:center;
}
.ordadd{
    display:flex;
    justify-content: space-between;
}
#customize{
    font-size: 30px;
    margin-left:40px;
    font-weight:400;
}
.order{
    width:400px;
    margin-left:50px;
}
.address{
    width:400px;
    margin-right: 50px;
}
.socials{
    display:flex;
    flex-direction: column;
    margin-left:50px;
}
#media{
    height:100px;
    width:100px;
}
.vl{
    border-left: 6px solid green;
    height: 350px;
    margin-left:250px;
    margin-top:-350px;
}
.message{
    float:right;
    margin-top: -350px;
    margin-right:50px;
}
#cmessage{
    color:solid green;
    font-size:30px;
    font-weight:500;
}
#vl2{
    border-right: 6px solid green;
    height:550px;
    margin-right:400px;
    margin-top:-420px;
}
.tagline{
    display:inline-block;
    text-align:center;
    margin-left:380px;
    margin-top:-500px;
}
#tag{
    font-weight:500;
    font-size:40px;
}
#send{
    background-color: solid green;;
}